body {
	font-family: "Trebuchet MS";
}

#passwords_form{
	position: absolute;
	top: 20%;
	left: 20%;
}
input {
	border-radius: 5px;
}
td {
	padding: 5px;
}
button{
	position: relative;
	width: 100px;
	height: 30px;
    border-radius: 8px; 
    font-size: 120%;
    margin: 5px;
}

